@import '../../index.scss';

.game-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $width;
  max-width: $maxwidth;
  margin: auto;

  h1 {
    margin-top: 120px;
  }

  .game-list_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card {
      width: 20%;
    }
  }
}
