@import '../../index.scss';

.info-list {
  width: $width;
  max-width: $maxwidth;
  margin: 50px auto;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    li {
      width: 30%;
      margin: 30px auto;

      img {
        width: 80px;
      }
    }
  }
}
