@import '../../index.scss';

.intro {
  height: 100vh;
  border-bottom: solid 10px $red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .introContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: $width;
    max-width: $maxwidth;

    .texts {
      margin: auto;
      width: 50%;

      h1 {
        font-size: 72px;
        font-weight: 900;
        margin-bottom: 30px;
      }

      p {
        max-width: 90%;
        font-size: 21px;
        margin-bottom: 30px;
      }

      button, a {
        background: $red;
        color: $white;
        border: none;
        padding: 20px 80px;
        font-family: $Lora;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
      }
    }

    .pianoIllustration {
      width: 50%;
    }
  }
}
