@import '../../index.scss';

.game-card {
  width: 30%;
  margin-top: 50px;
  border: solid 1px $red;
  border-radius: 2px;
  box-sizing: border-box;

  img {
    width: 100%;
    margin-bottom: 30px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  h2 {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    padding-bottom: 30px;
  }

  a {
    background: $red;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: none;
    color: $white;
    width: auto;
    box-sizing: content-box;
    padding: 10px 20px;
    border-radius: 2px;
  }
}
